* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(images/synthwave-g11a1e230e_1920.jpg);
  background-size: cover;

  position: relative;
  font-family: "Tilt Neon", cursive;
}
nav {
  height: 200px;
}
.main-nav {
  list-style: none;
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #3230cdd7;
  background-color: #6b10a4ab;
}
.main-nav li {
  float: right;
}
.main-nav li a {
  text-decoration: none;
  display: flex;
  text-align: center;
  margin: 20px;
  background: #323cf3;
  background: linear-gradient(to bottom, #323cf3 0%, #ed13f8e6 100%);
  background-clip: text;
  color: transparent;
  text-shadow: -3px 5px 3px rgb(61, 182, 247);
  font-size: 50px;

  border-radius: 5px;
}

/*li a {
  display: inline;
  float: inline-end;
  margin: 20px;
  color: #9213dc;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-size: 30px;
  font-family: "Tilt Neon", cursive;
  background-color: #360c2cb8;
  border-radius: 5px;
}*/

.main-nav li :hover {
  background: #7b35826b;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 8px;
}

main h1 {
  text-align: center;
  margin: 0 auto;
  color: #6b10a4;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-size: 50px;

  border-radius: 5px;
}
main .center {
  display: block;
  margin-left: 35%;
  margin-right: 25%;

  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 89, 255), 0 0 82px rgb(0, 89, 255), 0 0 92px rgb(0, 89, 255),
    0 0 102px rgb(14, 108, 139), 0 0 151px #0fa;
}
main {
  margin-bottom: 20%;
}
.aboutme {
  margin-top: 10%;
  color: #d2e962;
}
h2 {
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  font-size: 40px;
  color: #6b10a4;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.aboutme p {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  background-color: #020ef158;
  border-radius: 5px;
}
a:visited {
  color: #d2e962;
}
.aboutme div {
  margin-left: 35%;
  margin-right: 25%;
}

.projects {
}

.contact-form-container {
  max-width: 30%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 10px #6b10a4;
  color: #d2e962;
}

.contact-form-container label {
  line-height: 40px;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  background-color: #9752c2;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset #0410f6e6;
  font-size: 15px;
  outline: none;
  background-color: #9752c2;
}

.input-field::placeholder {
  padding: 5px;
  color: #020ef1;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #d2e962;
  background-color: #020ef1;
  border: 2px solid #020ef1;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Tilt Neon", cursive;
}

.submit-btn:hover {
  background-color: #6b10a4;
  border: 2px solid #020ef1;
  cursor: pointer;
}
.socials {
  width: 400px;
  color: #d2e962;
  margin: 50px;
  display: flex;
  justify-content: center;
}
.sociallogos {
  margin-right: 10px;
  margin-left: 80px;
}
h4 {
  display: inline;
  font-size: 1.5rem;
}
footer {
  text-align: center;
  color: #6b10a4;
}
