* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(images/mxj_files-vaporwave-9311756.png);
  background-size: cover;

  position: relative;
  font-family: "Syne", sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: none;
}
.text-effect {
  display: inline-block;
  color: hsl(113 70% 72%);
  transform: perspective(520px) rotateX(16deg) rotateY(-10deg);
  transform-style: preserve-3d;
  text-shadow:
    -1px 1px 0 hsl(113 50% 30%),
    -2px 2px 0 hsl(113 50% 30%),
    -3px 3px 0 hsl(113 50% 30%),
    -4px 4px 0 hsl(113 50% 30%),
    -5px 5px 0 hsl(113 50% 30%);
}
nav {
  height: 200px;
}
.main-nav {
  list-style: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 5px solid #58ea62d7;
  background-color: #e3fc7ce4;
}
.main-nav li {
  float: right;
}
.main-nav li a {
  text-decoration: none;
  display: flex;
  text-align: center;
  margin: 20px;
  background: #bc32f3;
  background: linear-gradient(to bottom, #1aef0a 0%, #bee548e6 100%);
  background-clip: text;
  color: transparent;
  text-shadow: -3px 5px 3px rgb(61, 247, 170);
  font-size: 50px;

  border-radius: 5px;
}
.main-nav li label {
  position: relative;
  width: 200px;
  height: 80px;
  top: 10px;
  bottom: 10px;
  display: block;
  background: #0b0f56;
  border-radius: 100px;
  cursor: pointer;
  box-shadow:
    inset 0 px 5px 15px rgb(3, 3, 85),
    inset 0px - 5px 15px rgb(1, 16, 43);
}

.main-nav li label:after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background: #2db1c5;
  border-radius: 100px;
  top: 10px;
  left: 10px;
  transition: 0.5s;
  box-shadow: 0 5px 10px rgb(78, 209, 223);
}
input:checked ~ label:after {
  left: 190px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #39dc72, #5dbb35);
}
input:checked ~ label {
  background: #bbf109c9;
}
.main-nav li input {
  display: none;
}

.main-nav li :not(label):hover {
  background: #0764206b;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 8px;
}

main h1 {
  text-align: center;
  margin: 0 auto;
  color: #23db29;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  font-size: 50px;

  border-radius: 5px;
}
main .center {
  display: block;
  margin-left: 35%;
  margin-right: 25%;

  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 89, 255),
    0 0 82px rgb(0, 89, 255),
    0 0 92px rgb(0, 89, 255),
    0 0 102px rgb(14, 108, 139),
    0 0 151px #0fa;
}
main {
  margin-bottom: 20%;
}
.aboutme {
  margin-top: 10%;
  color: #d2e962;
}
h2 {
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  font-size: 40px;
  color: #10a41a;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.aboutme p {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  background-color: #42aae2e7;
  border-radius: 5px;
}
a:visited {
  color: #d2e962;
}
.aboutme div {
  margin-left: 35%;
  margin-right: 25%;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}
.project {
  position: relative;
  display: grid;
  grid-template-rows: 80% 20%;
  justify-items: center;
  margin: 30px;
  width: 400px;
  height: 600px;
  border-radius: 40px;
  background-color: #1a78b797;
}
.project-pic {
  display: block;
  margin: 20px;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 2;
  left: 5%;
  right: 0;
  width: 90%;
  height: 70%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  border-radius: 20px;
}

.project:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact-form-container {
  max-width: 30%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 10px #9dca07;
  color: #44f847;
}

.contact-form-container label {
  line-height: 40px;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  background-color: #3af0f3;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset #1bcae9e6;
  font-size: 15px;
  outline: none;
  background-color: #6cc252;
}

.input-field::placeholder {
  padding: 5px;
  color: #020ef1;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #d2e962;
  background-color: #31dbee;
  border: 2px solid #02c5f1;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Syne", sans-serif;
}

.submit-btn:hover {
  background-color: #55a410;
  border: 2px solid #d6ee51;
  cursor: pointer;
}
.socials {
  width: 100%;
  color: #d2e962;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sociallogos {
  margin-right: 80px;
}

h4 {
  display: inline;
  font-size: 1.5rem;
}
footer {
  text-align: center;
  color: #09ed86;
}
